name: Build Docs

on:
  push:
    branches:
      - main
    paths-ignore:
      - build/**
      - tools/secrets/**

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]') && github.actor != 'github-actions[bot]'"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: npm ci

      - name: Build docs and upload
        env:
          DOC_UPLOAD_SECRET: ${{ secrets.upload_secret }}
          DOC_UPLOAD_URL: ${{ vars.doc_upload_url }}
        run: python tools/compiler/build.py

